body{
	background-image: url(../img/blurred.jpg);
	background-size: cover;
	background-position: center;
	color:#FFD700;
	font-family: 'Lato', sans-serif;


}
/*.form-group, .form-row{*/
	/*padding-left: 10%;*/
	/*padding-right: 10%;*/
}
.content{
	margin-top: 10%;
	background-color:#ffffff;
	padding-top: 

}
form{
	text-align: center;
}
/*#FFD700 #F8F8FF #FF6347*/